<p>todo-list works!</p>
<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="flex-row gap-8 flex-warp">
          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input matInput data-test="todoBodyInput" placeholder="Filter by body"
              [(ngModel)]="todoBody">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <!-- Angular implementation of autocomplete -->
          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input type="text"
              placeholder="Pick a category"
              aria-label="category"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [(ngModel)]="todoCategory">
            <mat-autocomplete #auto="matAutocomplete">
              @for (category of categories; track category) {
                <mat-option [value]="category">{{category}}</mat-option>
              }
            </mat-autocomplete>
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex-row gap-8 flex-warp">
          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput data-test="todoOwnerInput" type="string" placeholder="Filter by owner"
              [(ngModel)]="todoOwner">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="todoStatus" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value=true>Complete</mat-option>
              <mat-option value=false>Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <br>
        <div class="flex-row gap-8 flex-wrap">
          <label for="viewType">View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  @if(serverFilteredTodos()) {
    <div class="flex-1">
      <div>
        @switch (viewType()) {
          @case ('card') {
            <div class="todo-card-container flex-row gap-8 flex-wrap">
              @for (todo of filteredTodos(); track todo._id) {
                <app-todo-card [simple]="true" class="todo-card" [todo]="todo" ></app-todo-card>
              }
            </div>
          }
          @case('list') {
            <mat-card>
              <mat-card-content>
                <mat-nav-list class="todo-nav-list">
                  <h3 mat-subheader>Todos</h3>
                  @for (todo of displayTodos(); track todo._id) {
                    <a mat-list-item [routerLink]="['/todos',todo._id]" class="todo-list-item">
                      <span matListItemTitle mat-line class="todo-list-owner">{{todo.owner}}</span>
                      <span matListItemLine class="todo-list-category"> {{todo.category}}</span>
                      @if(todo.status) {
                        <span matListItemLine class="todo-list-status">Complete</span>
                      } @else {
                        <span matListItemLine class="todo-list-status">Incomplete</span>
                      }
                      <span matListItemLine class="todo-list-body">{{todo.body}}</span>
                    </a>
                    <br>
                  }
                </mat-nav-list>
              </mat-card-content>
            </mat-card>
          }
        }
      </div>
    </div>
  } @else {
    <div class="flex-1" class="todo-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  }
</div>
<mat-paginator [length]="getNumTodos()"
              [pageSize]='10'
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="handlePageEvent($event)"
              aria-label="Select page">
</mat-paginator>
